.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    width: 44.75%;
    margin-top: 20px;
}

#inc{
    font-size: 20px;
    color: silver;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button-space{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button-search{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dunder-btn {
    margin: 5px;
}

.gif-spot {
    margin-top: 20px;
}